body {
  height: 100vh;
  background-image: linear-gradient(to bottom, lightblue, lightgreen);
}

input[type="text"] {
  border: 1px solid white;
  background: rgba(255, 255, 255, .25);
}

.App {
  text-align: center;
}

.darksky__attr {
  margin: 0 auto;
  width: 200px;
  display: block;
}

.darksky__attr--img {
  height: 40px;
  background-image: url('https://darksky.net/dev/img/attribution/poweredby-oneline.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}