.App {
  text-align: center;
}

.darksky__attr {
  margin: 0 auto;
  height: 40px;
  background-image: url('https://darksky.net/dev/img/attribution/poweredby-oneline.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}