.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}

.search-nav__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-nav__element {
  margin: 0 2rem;
  position: relative;
}

.search-nav__element:hover {
  cursor: pointer;
}

.search-nav__element--selected {
  position: relative;
}

.search-nav__element--selected:after, .search-nav__element:hover:after {
  content: '';
  width: 102%;
  position: absolute;
  left: -1%;
  bottom: -4px;
  border-width: 0 0 2px 0;
  border-style: solid;
}

.search__container--sub {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 20rem;
  margin: 1rem auto;
}

.search__container--sub input {
  display: block;
  width: 10rem;
  min-width: 40px;
  margin: 0 auto;
  padding: .2rem .3rem;
}

.search__button {
  margin: .5rem;
  padding: .2rem .6rem;
  border-radius: 10%;
  border: 2px solid #dedede;
  font-size: .85rem;
}
