.wx-table {
  border: 1px solid black;
  margin: 1rem auto;
}

.wx-table th {
  height: 1.2rem;
}

.table__header:hover {
  color: blueviolet;
  cursor: pointer;
}

.row {
  height: 1rem;
  transition: all ease-out .2s;
}

.row-selected {
  height: 40vh;
}